.container {
  display: flex;
  height: 640px;
  background: #f7f7f7;
  flex-direction: row;

  // display: flex;
  // height: 340px;
  // background: #f7f7f7;
  // flex-direction: column;
}

// .issuesStyle{
//    display: flex;
//    flex-direction: row;
//    flex-wrap: nowrap;

// }

.column {
  display: inline-block;
  // width: 592px;
  width: 49.8%;

  height: 640px;
  background-color: #efe4e4;

  // display: inline-block;
  // // width: 592px;
  // width: 100%;

  // height: 340px;
  // background-color: #efe4e4;
}

.columnTitle {
  color: #383838;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  margin: 0 10px;
}

//正常表格
.columnContent {
  margin-left: 10px;
  height: 600px;
  overflow: auto;
  background: #e7ebee;
  border: 1px solid #dae5ea;
}

//高亮表格
.columnContentActive {
  margin-left: 10px;
  overflow: auto;
  height: 600px;
  background: #eb618d;
  border: 1px solid #1b9aee;
}

//正常样式
.issue {
  position: relative;
  //min-height: 20px;
  height: 40px;
  padding: 8px 4px;
  background: rgb(190, 243, 245);
  margin: 8px 10px;

  display: flex;
  flex-direction: row;
}

//拖动样式
.issueDragging {
  position: relative;
  // min-height: 20px;
  height: 40px;
  padding: 8px 4px;
  //background: #ffffff;
  background: #8bf383;

  opacity: 0.9;
  margin: 8px 10px;

  border: solid 2px rgb(247, 61, 28);

  display: flex;
  flex-direction: row;
}

.item0 {
  width: 50px;
  height: 20px;
  background-color: #f0ee58;
  margin-left: 10px;
}
