.container {
  display: flex;
  height: 640px;
  background: #f7f7f7;
  flex-direction: row;
}
.column {
  display: inline-block;
  width: 49.8%;
  height: 640px;
  background-color: #efe4e4;
}
.columnTitle {
  color: #383838;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  margin: 0 10px;
}
.columnContent {
  margin-left: 10px;
  height: 600px;
  overflow: auto;
  background: #e7ebee;
  border: 1px solid #dae5ea;
}
.columnContentActive {
  margin-left: 10px;
  overflow: auto;
  height: 600px;
  background: #ccecff;
  border: 1px solid #1b9aee;
}
.issue {
  position: relative;
  min-height: 20px;
  padding: 14px 44px;
  background: #fff;
  margin: 8px 10px;
  display: flex;
  flex-direction: row;
}
.issueDragging {
  position: relative;
  min-height: 20px;
  padding: 14px 44px;
  background: #bbb0b0;
  opacity: 0.9;
  margin: 8px 10px;
  border: solid 2px #f73d1c;
  display: flex;
  flex-direction: row;
}
.item0 {
  width: 50px;
  height: 20px;
  background-color: #a2d1ed;
  margin-left: 10px;
}
